body {
  background-color: lightgrey;
}
h1.sans-serif {
  font-family: Verdana, Geneva, sans-serif;
  color: red;
}
li.serif {
  font-family: Georgia, serif;
}
h2 {
  color: red;
}
p.align {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
