body {
  background-color: lightgrey;
}
h1.sans-serif {
  font-family: Verdana, Geneva, sans-serif;
  color: red;
}
li.serif {
  font-family: Georgia, serif;
}
h2 {
  color: red;
}
div.nav-tab {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background-color: lightblue;
  border-style: solid;
}
a.navigation {
  text-decoration: none;
  color: red;
}
a.navigation:hover {
  color: blue;
}
.align {
  text-align: center;
}
ul.alignleft {
  margin-left: 155px;
}
p.aligncenter {
  margin-left: 255px;
  margin-right: 220px;
  text-align: left;
}
